* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Arial","Microsoft YaHei","ºÚÌå","ËÎÌå",sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue";
    color: #000;
    background: #f8f8f8;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
    border: 0px;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

table {
    border-spacing: 0px;
}

form {
    margin: 0;
}

.cb {
    color: #000;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 0px;
}

dd {
    margin: 0;
    padding: 0px;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

a.c-red:hover, a.c-red:focus {
    text-decoration: none;
    color: #f00;
    outline: none;
}

.form-required {
    color: #f00;
}

.wrap {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding: 0px;
}

.must-input {
    color: #f00;
}

.not-must-input .must-input {
    display:none;
}

.delete-line{
    text-decoration:line-through;
    color:#aaa;
}

.nowrap {
    white-space: nowrap;
    overflow: hidden;
}

.mh300 {
    min-height: 300px;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.w30 {
    width: 30px;
}

.w300 {
    width: 300px;
}

.w1000 {
    width: 1000px;
}

.w40 {
    width: 50px;
}

.w50 {
    width: 50px;
}
.w60 {
    width: 60px;
}
.w80 {
    width: 80px;
}
.w100 {
    width: 100px;
}

.w120 {
    width: 120px;
}

.w185 {
    width: 185px;
}

.w300 {
    width: 300px;
}

.w400 {
    width: 400px;
}

.w100p {
    width: 100%;
}

.w150 {
    width: 150px;
}
.w180 {
    width: 180px;
}


.w200 {
    width: 200px;
}
.w250 {
    width: 250px;
}
.w500 {
    width: 500px;
}
.w550 {
    width: 550px;
}
.w600 {
    width: 600px;
}
.w650 {
    width: 650px;
}
.w700 {
    width: 700px;
}
.w750 {
    width: 750px;
}
.w800 {
    width: 800px;
}
.w850 {
    width: 850px;
}
.w900 {
    width: 900px;
}
.mw1000 {
    max-width: 1000px;
}

.mw1200 {
    max-width: 1200px;
}


.h10 {
    height: 10px;
}

.h20 {
    height: 20px;
}

.h30 {
    height: 30px;
}

.lh18 {
    line-height: 18px;
}

.lh20 {
    line-height: 20px;
}

.lh25 {
    line-height: 25px;
}

.lh30 {
    line-height: 30px;
}

.lh40 {
    line-height: 40px;
}

.lh50 {
    line-height: 50px;
}


.lh30 {
    line-height: 30px;
}

.h50 {
    height: 50px;
}



.lh50 {
    line-height: 50px;
}


.h100 {
    height: 100px;
}

.hp100 {
    height: 100%;
}

.lh100 {
    line-height: 100px;
}

.bold {
    font-weight: bold;
}

.clear-fix {
    clear: both;
}

.clear:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

.link {
    display: block;
}

.ct {
    padding: 10px;
}

.t40 {
    top: 40px;
}

.m1 {
    margin: 1px;
}

.m10 {
    margin: 10px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt60 {
    margin-top: 60px;
}

.mt80 {
    margin-top: 80px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml2 {
    margin-left: 2px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}

.ml50 {
    margin-left: 50px;
}

.ml60 {
    margin-left: 60px;
}

.ml70 {
    margin-left: 70px;
}

.ml80 {
    margin-left: 80px;
}

.ml90 {
    margin-left: 90px;
}

.ml100 {
    margin-left: 100px;
}

.mlr10 {
    margin-left: 10px;
    margin-right:10px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb0 {
    margin-bottom: 0px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb41 {
    margin-bottom: 41px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb52 {
    margin-bottom: 52px;
}

.mr2 {
    margin-right: 2px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}

.mr50 {
    margin-right: 50px;
}

.mr60 {
    margin-right: 60px;
}

.mr70 {
    margin-right: 70px;
}

.mr80 {
    margin-right: 80px;
}

.mr90 {
    margin-right: 90px;
}

.mr100 {
    margin-right: 100px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pt75 {
    padding-top: 80px;
}

.pt80 {
    padding-top: 80px;
}

.c_subtitle {
    color: #999;
}

.c_content {
    color: #333;
}

.c-blue {
    color: #00c1de;
}

.c-orign {
    color: #ff8f00;
}

.c-blue-dark {
    color: #23527c;
}

.pb0 {
    padding-bottom: 0px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb50 {
    padding-bottom: 50px;
}


.p0 {
    padding: 0px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}


.p20 {
    padding: 20px;
}

.p30 {
    padding: 30px;
}

.p40 {
    padding: 40px;
}

.pr20 {
    padding-right: 20px;
}

.tc {
    text-align: center;
}

.pl0 {
    padding-left: 0px;
}


.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}

.pr0 {
    padding-right: 0px;
}

.pr10 {
    padding-right: 10px;
}

.pr40 {
    padding-right: 40px;
}

.block {
    display: block;
}

.invisible {
    display: none;
}

.underline {
    text-decoration: underline;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fs12, .fs12 a {
    font-size: 12px;
}

.fs14, .fs14 a {
    font-size: 14px;
}

.fs16, .fs16 a {
    font-size: 16px;
}

.fs18, .fs18 a {
    font-size: 18px;
}

.fs30, .fs30 a {
    font-size: 30px;
}

.icon_small {
    width: 20px;
    height: 20px;
}

.icon_small_radius {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.icon_normal {
    width: 30px;
    height: 30px;
}

.icon_normal_radius {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.icon_big {
    width: 50px;
    height: 50px;
}

.icon_big_radius {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.icon_radius_5 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bs10 {
    border-spacing: 10px;
}

.ofh{
    overflow:hidden;
}

.uf > li {
    float: left;
}

.ui > li {
    display: inline-block;
}

.single-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box-shadow {
    moz-box-shadow: 0px 2px 5px #ccc;
    -webkit-box-shadow: 0px 2px 5px #ccc;
    box-shadow: 0px 2px 5px #ccc;
}

.mcenter {
    margin: 0 auto;
}

.bg-white {
    background: #fff;
}

.to-link {
    cursor: pointer;
}

.c-red {
    color: #f00;
}

.c-star {
    color: #FF8517;
}

.c-green {
    color: #0f0;
}

.c-gray1 {
    color: #eee;
}

.c-gray2 {
    color: #ddd;
}

.c-gray3 {
    color: #ccc;
}

.c-gray4 {
    color: #666;
}

.c-gray5 {
    color: #999;
}


.pull-left {
    float: left;
}

.pr{
    position:relative;
}

.pa {
    position: absolute;
}

.di{
    display:inline-block;
}

.d-head {
    font-size: 14px;
    line-height: 25px;
    color: #31363b;
    font-weight: bold;
    padding-left: 10px;
    position:relative;
    top:5px;
}

    .d-head::before {
        content: ' ';
        background: #31363b;
        position: absolute;
        left: 0px;
        width: 4px;
        height: 18px;
        top: 2px;
    }

.border-top {
    border-top: 1px solid #ddd;
}
.border-bottom {
    border-bottom: 1px solid #ddd;
}

.border-left {
    border-left: 1px solid #ddd;
}

.border-right {
    border-right: 1px solid #ddd;
}

.border-all {
    border: 1px solid #ddd;
}

.border_dash {
    border: 1px dashed;
}