<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiuxi.admin.core.mapper.TpMenuMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jiuxi.admin.core.bean.entity.TpMenu" id="tpMenuMap">
        <result property="menuId" column="MENU_ID"/>
        <result property="menuName" column="MENU_NAME"/>
        <result property="menuCode" column="MENU_CODE"/>
        <result property="menuUri" column="MENU_URI"/>
        <result property="menuPid" column="MENU_PID"/>
        <result property="menuTreePid" column="MENU_TREE_PID"/>
        <result property="menuSource" column="MENU_SOURCE"/>
        <result property="menuType" column="MENU_TYPE"/>
        <result property="menuIcon" column="MENU_ICON"/>
        <result property="menuDesc" column="MENU_DESC"/>
        <result property="orderIndex" column="ORDER_INDEX"/>
        <result property="enabled" column="ENABLED"/>
        <result property="actived" column="ACTIVED"/>
        <result property="tenantId" column="TENANT_ID"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="creator" column="CREATOR"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="updator" column="UPDATOR"/>
        <result property="extend01" column="EXTEND01"/>
        <result property="extend02" column="EXTEND02"/>
        <result property="extend03" column="EXTEND03"/>
    </resultMap>

    <select id="selectByCreator" parameterType="String"
            resultType="com.jiuxi.common.bean.TreeNode">
        select MENU_ID as value, MENU_ID as id, MENU_NAME as label, MENU_NAME as text, MENU_CODE as extend, MENU_SOURCE as extend01, menu_tree_pid as pid, MENU_ICON as icon, CREATOR, false as expand
        ,ORDER_INDEX orderNo
        from tp_menu
        where
        ACTIVED = 1
        <if test="enabled != null and enabled != ''">
            AND ENABLED = #{enabled}
        </if>
        <if test="creator != null and creator != ''">
            AND CREATOR = #{creator}
        </if>
        ORDER BY ORDER_INDEX
    </select>


    <resultMap type="com.jiuxi.common.bean.TreeNode" id="tpMenuTreeMap">
        <result property="id" column="MENU_ID"/>
        <result property="text" column="MENU_NAME"/>
        <result property="icon" column="MENU_ICON"/>
        <result property="pid" column="MENU_PID"/>
        <result property="expinfo" column="CREATOR"/>
        <collection property="children" ofType="com.jiuxi.common.bean.TreeNode">
            <result property="id" column="TWO_MENU_ID"/>
            <result property="text" column="TWO_MENU_NAME"/>
            <result property="icon" column="MENU_ICON"/>
            <result property="pid" column="TWO_MENU_PID"/>
            <result property="expinfo" column="TWO_CREATOR"/>
        </collection>
    </resultMap>

    <select id="selectChildren" parameterType="String" resultMap="tpMenuTreeMap">
        select tm1.MENU_ID, tm1.MENU_NAME, tm1.MENU_CODE, tm1.MENU_PID, tm1.ORDER_INDEX, tm1.MENU_ICON, tm1.CREATOR,
        tm2.MENU_ID as TWO_MENU_ID, tm2.MENU_NAME as TWO_MENU_NAME, tm2.MENU_PID as TWO_MENU_PID, tm2.ORDER_INDEX, tm2.MENU_ICON, tm2.CREATOR as TWO_CREATOR
        from tp_menu tm1
        left join tp_menu tm2 on tm1.MENU_ID = tm2.MENU_PID and tm2.ACTIVED = 1 and tm2.ENABLED = 1
        where
        tm1.ACTIVED = 1
        and
        tm1.ENABLED = 1
        <if test="menuPid != null and menuPid != ''">
            AND tm1.MENU_PID = #{menuPid}
        </if>
        ORDER BY tm1.ORDER_INDEX
    </select>

    <insert id="save" parameterType="com.jiuxi.admin.core.bean.entity.TpMenu">
        INSERT INTO tp_menu
            (MENU_ID, MENU_NAME, MENU_CODE, MENU_URI, MENU_PID, MENU_TREE_PID, MENU_SOURCE, MENU_TYPE, MENU_ICON, MENU_DESC, TENANT_ID, ORDER_INDEX, ENABLED, ACTIVED, CREATE_TIME, CREATOR, UPDATE_TIME, EXTEND01, EXTEND02, EXTEND03)
		VALUES
			(#{menuId}, #{menuName}, #{menuCode}, #{menuUri}, #{menuPid}, #{menuTreePid}, #{menuSource}, #{menuType}, #{menuIcon}, #{menuDesc}, #{tenantId}, #{orderIndex}, #{enabled}, 1, #{createTime}, #{creator}, #{updateTime}, #{extend01}, #{extend02}, #{extend03})
    </insert>

    <update id="update">
        update tp_menu
        <if test="null != menuId and '' != menuId">
            <set>
                <if test="null != menuName and '' != menuName">MENU_NAME = #{menuName},</if>
                <if test="null != menuCode">MENU_CODE = #{menuCode},</if>
                <if test="null != menuUri">MENU_URI = #{menuUri},</if>
                <if test="null != menuPid and '' != menuPid">MENU_PID = #{menuPid},</if>
                <if test="null != menuTreePid and '' != menuTreePid">MENU_TREE_PID = #{menuTreePid},</if>
                <if test="null != menuSource">MENU_SOURCE = #{menuSource},</if>
                <if test="null != menuType">MENU_TYPE = #{menuType},</if>
                <if test="null != menuIcon">MENU_ICON = #{menuIcon},</if>
                <if test="null != menuDesc">MENU_DESC = #{menuDesc},</if>
                <if test="null != tenantId">TENANT_ID = #{tenantId},</if>
                <if test="null != orderIndex">ORDER_INDEX = #{orderIndex},</if>
                <if test="null != enabled">ENABLED = #{enabled},</if>
                <if test="null != actived">ACTIVED = #{actived},</if>
                <if test="null != extend01">EXTEND01 = #{extend01},</if>
                <if test="null != extend02">EXTEND02 = #{extend02},</if>
                <if test="null != extend03">EXTEND03 = #{extend03},</if>
                UPDATE_TIME = #{updateTime}
            </set>
            <where>
                ACTIVED = 1
                and
                MENU_ID = #{menuId}
            </where>
        </if>
    </update>

    <select id="view" parameterType="String" resultType="com.jiuxi.admin.core.bean.vo.TpMenuVO">
        select MENU_ID, MENU_NAME, MENU_CODE, MENU_URI, MENU_PID, MENU_TREE_PID, MENU_SOURCE, CASE MENU_SOURCE when 1 then 'pc' else 'app' END as menuSourceName,
        MENU_TYPE, (select DIC_NAME from tp_dictionary where DIC_CODE = MENU_TYPE) as menuTypeName, MENU_ICON, MENU_DESC, TENANT_ID, ORDER_INDEX, ENABLED, ACTIVED,  CREATE_TIME, CREATOR, UPDATE_TIME, EXTEND01, EXTEND02, EXTEND03
        from tp_menu
        where MENU_ID = #{menuId}
        and
        ACTIVED = 1
    </select>

    <update id="deleteByMenuId">
        update tp_menu set ACTIVED = #{actived}, UPDATOR = #{updator}, UPDATE_TIME = #{updateTime} where MENU_ID = #{menuId}
    </update>

    <select id="selectByRoldIds" resultType="com.jiuxi.admin.bean.MenuTreeNode">
        SELECT tm.MENU_ID as value,
                tm.MENU_ID as id,
                tm.MENU_NAME as label,
                tm.MENU_NAME as text,
                tm.MENU_CODE as code,
                tm.MENU_URI as path,
                tm.MENU_PID as pid,
                tm.MENU_SOURCE as extend01,
                tm.EXTEND02 as extend02,
                tm.MENU_TYPE as type,
                tm.MENU_ICON as icon,
                tm.ORDER_INDEX orderNo
        FROM tp_role_menu trm
        inner JOIN tp_menu tm
           ON trm.menu_id = tm.menu_id
          and tm.ACTIVED = 1
          and tm.ENABLED = 1
        WHERE
        tm.MENU_SOURCE = #{menuSource}
        and
        trm.role_id in
        <foreach collection="roleIds" item="roleId" index="index" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
        and tm.MENU_TYPE != 'SYS1907'
        order by tm.ORDER_INDEX
    </select>

    <select id="authSelectByRoldIds" resultType="com.jiuxi.common.bean.TreeNode">
        SELECT tm.MENU_ID as value, tm.MENU_ID as id, tm.MENU_NAME as label, tm.MENU_NAME as text, tm.MENU_CODE, tm.MENU_URI, tm.menu_tree_pid as pid, tm.MENU_SOURCE as extend01, tm.MENU_TYPE, tm.MENU_ICON as icon
        , tm.ORDER_INDEX orderNo
        FROM tp_role_menu trm RIGHT JOIN tp_menu tm ON trm.menu_id = tm.menu_id and tm.ACTIVED = 1 and tm.ENABLED = 1
        WHERE
        trm.role_id in
        <foreach collection="roleIds" item="roleId" index="index" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
        order by tm.ORDER_INDEX
    </select>

    <select id="selectAll" resultType="com.jiuxi.admin.bean.MenuTreeNode">
        SELECT tm.MENU_ID as value,
               tm.MENU_ID as id,
               tm.MENU_NAME as label,
               tm.MENU_NAME as text,
               tm.MENU_CODE as code,
               tm.MENU_URI as path,
               tm.MENU_PID as pid,
               tm.MENU_SOURCE as extend01,
               tm.EXTEND02 as extend02,
               tm.MENU_TYPE as type,
               tm.MENU_ICON as icon,
               tm.ORDER_INDEX as orderNo
        FROM  tp_menu tm
        WHERE
        tm.MENU_SOURCE = #{menuSource}
        and
        tm.ACTIVED = 1
        and
        tm.ENABLED = 1
        and MENU_TYPE != 'SYS1907'
        order by tm.ORDER_INDEX
    </select>

    <select id="countChildren" resultType="Integer">
        SELECT count(MENU_ID) FROM tp_menu tm
        WHERE
        tm.ACTIVED = 1
        and
        tm.MENU_PID = #{menuPid}
    </select>
    <select id="listAll" resultType="com.jiuxi.common.bean.TreeNode"
            parameterType="java.lang.String">
        select MENU_ID as value, MENU_ID as id, MENU_NAME as label, MENU_NAME as text, MENU_CODE as extend, MENU_SOURCE as extend01, MENU_TREE_PID as pid, MENU_ICON as icon, CREATOR, false as expand
            , ORDER_INDEX orderNo
        from tp_menu
        where ACTIVED = 1
        ORDER BY ORDER_INDEX
    </select>
    <select id="listChildrenByMenuId" resultType="com.jiuxi.admin.core.bean.vo.TpMenuVO"
            parameterType="java.lang.String">
        select *
          from tp_menu
          where menu_tree_pid = #{menuId}
            and actived = 1
    </select>

</mapper>
